#finder_container {
	position: absolute;
	top: 60px;
    right:15px;
	margin: 0 auto;
	padding: 10px;
	min-width: 260px;
	max-width: 260px;
	border-radius: 0px 0px 5px 5px;
	background-color: var(--main-bg-color);
	box-shadow: 0px 2px 5px grey;
	font-family: 'Lato-Regular';
	z-index: 200;
	display: none;
}

/*text container*/
#finder_text_container {
    position: relative;
    float:left;
}

#finder_text_field{
  transition: all 0.5s ease;
}

/*previous next container*/
#finder_previous_next_container {
    position: relative;
    float:left;
    width:40px;
    margin-left: 15px;
    background-color: var(--sidebar-left-bg-color);
    border: 1px solid;
    border-radius: 30px;
    border-color:var(--border-color);
}

/*button*/
.finder_previous_next_button {
    position: relative;
    float:left;
    width:20px;
    user-select: none;
}

/*stats*/
#finder_stats {
    position: relative;
    float:left;
    width:200px;
    height: 8px;
    color: var(--stats-label-color);
    font-size: 12px;
    font-style: italic;
    text-align: right;

}

