.directory_label {
	font-family: 'Lato';
	font-size: 17px;
	position: relative;
	float:left;
	width:100%;
	height:40px;
	line-height: 40px;
	padding-left: 10px;
	font-family: 'Lato';
	white-space: nowrap;
	color:var(--directory-txt-color);
}

.model_button{
	font-family: 'Lato';
	font-size: 14px;
	position: relative;
	float:left;
	width:100%;
	height:26px;
	white-space: nowrap;
	color:var(--model-button-txt-color);;
	cursor:default;
	user-select: none;
}

.model_button_selected{
	background-color:var(--model-select-bg-color);
	color: white;
}

.model_button_delete {
	position: absolute;
	text-align: center;
	left:0px;
	width:20px;
	height:26px;
	line-height:26px;
}

.model_button_undo {
	position: absolute;
	text-align: center;
	left:0px;
	width:20px;
	height:26px;
	line-height:26px;
}

.model_label {
	position: absolute;
	left:20px;
	height:26px;
	line-height: 26px;
}

input[type=text].rename_model {
	position: absolute;
	left:20px;
	font-size:14px;
	font-family: 'Lato-Regular';
	width:130px;
	background: white;
	border: none;
	margin: 0;
	height:26px;
	padding: 0 5px;
}

input[type=text].rename_model:focus {
	outline-width: unset;
}

.strikethrough {
	text-decoration: line-through;
}

.model_pointer {
	width: 0; 
	height: 0; 
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent; 
	border-right:15px solid var(--main-bg-color); 
	
}

.model_pointer_container {
	position: absolute;
	width: 15px;
	right: 0;
}
