.directory_label, .empty_directory_label{
	font-family: 'Lato';
	font-size: 17px;
	height:40px;
	line-height: 40px;
	font-family: 'Lato';
	white-space: nowrap;
    cursor:default;
	user-select: none;
	color:var(--directory-txt-color);
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.directory_label.dragging {
	background-color: var(--border-color);
}

.directory_label .label {
	flex-grow: 1;
}

.directory_label .button {
	flex-grow: 0;
	flex-shrink: 0;
	width: 18px;
	padding: 0 0 0 10px;
	font-size: 11px;
}

.model_button{
	font-family: 'Lato';
	font-size: 14px;
	display: flex;
	align-items: center;
	height:26px;
	white-space: nowrap;
	color:var(--model-button-txt-color);;
	cursor:default;
	user-select: none;
}

.model_button_selected{
	background-color:var(--model-select-bg-color);
	color: white;
}

.model_button_delete, .model_button_undo {
	flex-shrink: 0;
	text-align: center;
	width:20px;
	line-height:26px;
}

.model_label {
	flex-grow: 1;
	line-height: 26px;
}

input[type=text].rename {
	flex-grow: 1;
	background: white;
	font-family: 'Lato-Regular';
	padding: 0 5px; 
	width: 50px;
	margin-right: 5px;
	align-self: stretch;
	border: none;
}

input[type=text].rename:focus {
	outline-width: unset;
}

.model_button input[type=text].rename {
	font-size: 14px;
}

.directory_label input[type=text].rename {
	font-size: 17px;
}

.strikethrough {
	text-decoration: line-through;
}

.model_pointer {
	width: 0; 
	height: 0; 
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent; 
	border-right:15px solid var(--main-bg-color); 
}
