#windows_menubar {
    position: relative;
    float:left;
    height:30px;
    margin-left:5px;
	pointer-events: all;
    -webkit-app-region: no-drag;
}

.windows_menubar_item {
    position: relative;
    float:left;
    padding-left:5px;
    padding-right:5px;
    height:30px;
    line-height: 30px;
    color:var(--windows-menu-font-color);
    font-family: 'Lato';
    font-size: 13px;
}

#windows_popover_menu {
	position:absolute;
	top: 25px;
	left: 35px;
	padding: 10px;
	font-family: "Lato";
	font-size: 12px;
	background-color: white;
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
	z-index: 10001;
	cursor: pointer;
	user-select: none;
}

.windows_popover_shortcut {
	color:darkgrey;
	padding-left:5px;
}

.windows_tr_highlight {
	background-color: rgba(0, 0, 0, 0.1);
}